/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el tablero del juego */
#hangman-board {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

#word-container {
  font-size: 24px;
  margin-bottom: 20px;
}

#guesses {
  font-size: 18px;
  margin-bottom: 10px;
}

#attempts {
  font-size: 18px;
  margin-bottom: 20px;
}

#hangman {
  max-width: 100%;
}

#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
  margin-top: 20px;
}

#keyboard button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#keyboard button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilos para el mensaje de victoria y pérdida */
#victory-message,
#loss-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  z-index: 9999;
}

#victory-message p,
#loss-message p {
  margin: 0;
}

#restart-button {
  display: block;
  margin-top: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
}

/* Estilos para el contenedor del juego */
#game-container {
  text-align: center;
  margin-top: 30px;
}

/* Estilos para la imagen del ahorcado */
#hangman-container {
  display: flex;
  justify-content: center;
}

/* Estilos para la página */
body {
  background: linear-gradient(135deg, #4CAF50, #388E3C);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}


header {
  background-image: url('../img/header.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}

main {
  box-sizing: border-box;
 
  /* El main ocupa todo el espacio disponible */
}

.inicio {
  font-size: 3em;
}



footer {
  background-image: url('../img/header.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  /* Fijar el footer en la parte inferior de la ventana */
  position: fixed;
  bottom: 0;
}


/* Estilos para hacer la página responsiva */
@media screen and (max-width: 768px) {
  main {
      flex-direction: column;
      /* Cambiar a diseño de columna en dispositivos pequeños */
  }

  section {
      flex: 1;
      /* La sección ocupará todo el espacio disponible en dispositivos pequeños */
  }

  aside {
      flex: 1;
      /* El aside ocupará todo el espacio disponible en dispositivos pequeños */
  }
}

/* Estilos para los botones de juego */
.juego-buttons {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}

/* Estilos para los botones "Iniciar Tateti" e "Iniciar Ahorcado" */
.juego-button {
  padding: 25px 30px; /* Aumentamos el padding para hacer los botones más grandes */
  margin: 20px 0;
  font-size: 2em; /* Aumentamos el tamaño de la letra */
  background-color: #3498db; /* Cambiamos el color a celeste */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.juego-button:hover {
  background-color: #2980b9; /* Color de fondo al pasar el cursor */
}

#word-container, #guesses-container, #guesses, #attempts, #hangman-container {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 1.5rem;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}