/* Estilos para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

nav {
    background-image: url('../img/header.jpg');
    background-size: cover;
    color: #fff;
    padding: 10px;
    width: 100%;
}

main {
    display: flex;
    flex: 1;
    /* El main ocupa todo el espacio disponible */
}

section {
    background: linear-gradient(135deg, #4CAF50, #388E3C);
    color: #fff;
    padding: 20px;
    flex: 1;
    /* El section ocupa 1/3 del espacio disponible */
}

.inicio {
    font-size: 3em;
}
aside {
    background-image: url('../img/header.jpg');
    background-size: cover;
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    flex: 2;
    /* El aside ocupa 2/3 del espacio disponible */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-image: url('../img/header.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    /* Fijar el footer en la parte inferior de la ventana */
    position: fixed;
    bottom: 0;
}


/* Estilos para hacer la página responsiva */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        /* Cambiar a diseño de columna en dispositivos pequeños */
    }

    section {
        flex: 1;
        /* La sección ocupará todo el espacio disponible en dispositivos pequeños */
    }

    aside {
        flex: 1;
        /* El aside ocupará todo el espacio disponible en dispositivos pequeños */
    }
}

/* Estilos para el formulario */
form {
    margin: 20px;
    /* Margen para el formulario */
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Altura al 100% para ocupar todo el alto del contenedor padre */
}

/* Estilo para cada campo del formulario */
.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Ajustar el ancho de los campos de entrada y textarea a 200px */
input[type="text"],
input[type="email"],
textarea {
    width: 200px;
    /* Ancho fijo de 200px */
}

/* Ajustar el botón de enviar */
input[type="submit"] {
    align-self: flex-start;
    /* Alinear el botón a la izquierda */
    width: auto;
    /* Ancho automático según el contenido */
    padding: 5px 10px;
    /* Añadir espacio alrededor del texto del botón */
}

/* Estilos para los botones de juego */
.juego-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
}

/* Estilos para los botones "Iniciar Tateti" e "Iniciar Ahorcado" */
.juego-button {
    padding: 25px 30px; /* Aumentamos el padding para hacer los botones más grandes */
    margin: 20px 0;
    font-size: 2em; /* Aumentamos el tamaño de la letra */
    background-color: #3498db; /* Cambiamos el color a celeste */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.juego-button:hover {
    background-color: #2980b9; /* Color de fondo al pasar el cursor */
}