.quiensomos {
    color: aliceblue;
    width: 75%;
    margin: auto;
    padding: 2rem;
    padding-bottom: 10rem; /* Ajusta este valor según sea necesario */
    border: 1px aliceblue solid;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 15%, rgba(57,4,77,1), rgba(116,9,121,1)); 
}

.quiensomos h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

.quiensomos h3 {
    text-align: center;
}